body{
    user-select: none;
}
.calc{
    margin: 25px auto;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.calc-screen{
    border-radius: 20px;
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 30px;
}

.calc-screen p{
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons{
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 5px;
    justify-items: center;
}

.btn{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    font-size: 1.5rem;
    cursor: pointer;
}

.theme{
    width: 16px;
    height: 16px;
    background: rgb(61, 116, 49);
}

.btn.zero{
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.btn:hover{
    filter: brightness(120%);
    transform: scale(96%);
}

.btn:active{
    filter: brightness(80%);
    transform: scale(90%);
}
#history{
}